.ReactInTime {
  border: 1px solid #ccc;
  padding: 4px 2px;
  font-family: Helvetica, Arial, Lucida Grande, sans-serif;
  font-size: 12px;
  color: #1d2129;
  border-radius: 3px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.ReactInTime--selected {
  border-color: #3B72FF;
}
.ReactInTime-Digit--selected {
  border-radius: 2px;
  background: #D2E0FF;
}
.ReactInTime-Digit,.ReactInTime-Divider {
  display: inline-block;
}
.ReactInTime-Digit {
  cursor: pointer;
  width: 1.3em;
  text-align: right;
  padding: 2px 0px;
  padding-right: 2px;
}
.ReactInTime-Digit:last-child {
  padding: 2px 2px;
  width: inherit;
}
.ReactInTime-Digit label {
  cursor: pointer;
}
