.ReactInTime {
  border: 1px solid #ccc;
  padding: 6px 6px;
  font-family: Helvetica, Arial, Lucida Grande, sans-serif;
  font-size: 12px;
  color: #1d2129;
  border-radius: 4px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  width: 62px;
}
.ReactInTime--selected {
  border-color: #3B72FF;
}
.ReactInTime-digit--selected {
  border-radius: 2px;
  background: #D2E0FF;
}
.ReactInTime-digit,.ReactInTime-divider {
  display: inline-block;
}
.ReactInTime-digit {
  cursor: pointer;
  width: 1.3em;
  text-align: right;
  padding: 2px 0px;
  padding-right: 2px;
}
.ReactInTime-digit:last-child {
  width: 1.5em;
  padding: 2px 2px;
}
.ReactInTime-digitLabel {
  cursor: pointer;
}
